/* Add this to your existing style.css */
.color-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .color-item {
    text-align: center;
    margin: 10px;
    cursor: pointer;
  }
  
  .color-item:hover {
    transform: scale(1.05);
  }
  
  .color-title {
    font-weight: bold;
    display: none;
  }
  
  .color-description {
    display: none;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .color-description.active {
    display: block;
  }
  